<ng-container *ngIf="groups$ | async; let groups">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            My Groups
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let group of groups.memberships">
              <span>
                <a [routerLink]="'/groups/' + group.groupId">{{group.groupName}}</a>
              </span>

              <div class="float-right">
                <button class="btn btn-light mr-2 btn-sm  shadow-sm" [disabled]="group.isOwner">
                  <app-door-open></app-door-open>
                  Leave Group
                </button>
              </div>

              <div>
                <small class="text-muted">you joined {{group.createdAtDistance}}</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button class="btn btn-success shadow" [routerLink]="'/groups/new'">Create your own group</button>
      </div>
    </div>
  </div>
</ng-container>
