<div class="container-fluid mt-5" *ngIf="userInfo$ | async; let user">

  <!-- Active Subscriptions -->
  <div class="row" *ngIf="activeMembership$ | async; let memberships">
    <div class="col">
      <div class="card">

        <h5 class="card-header">
          Groups
        </h5>

        <div class="card-body bg-light" *ngIf="memberships.length === 0">

          <!-- Shown when user is on his profile, and not a member of any group -->
          <ng-container *ngIf="isMyProfile$ | async">
            <p class="text-muted align-center">You are not a member of any group!</p>
            <small class="text-muted">
              Groups allow you to share stuff with people you know, or don't know that well.
            </small>
          </ng-container>

          <!-- Shown when user is not on his profile, and that user is not a member of any group -->
          <ng-container *ngIf="!(isMyProfile$ | async)">
            <p class="text-muted align-center">
              <b>{{user.username}}</b> is not a member of any group.
            </p>
          </ng-container>

          <!-- todo: invite user to your group -->

        </div>

        <!-- List of group subscriptions -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let membership of memberships">
            <app-group-link [groupOrMembership]="membership"></app-group-link>
            <div class="float-right">
              <app-kick-or-leave-group-button
                [membership]="membership"
                (left)="refresh()">
              </app-kick-or-leave-group-button>
            </div>
            <div>
              <small class="text-muted">joined {{membership.createdAtDistance}}</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Active Subscriptions -->

  <!-- Create group dialog -->
  <div class="row my-4" *ngIf="isMyProfile$ | async">
    <div class="col">
      <button class="btn btn-danger shadow" [routerLink]="'/groups/new'">Create your own group (and take responsibility)</button>
    </div>
  </div>
  <!-- End Create group dialog -->

  <!-- Incoming Invites -->
  <div class="row mt-4" *ngIf="incomingMembership$ | async; let memberships">
    <div class="col">
      <div class="card">

        <h5 class="card-header">
          Incoming
          <app-arrow-left></app-arrow-left>
        </h5>


        <div class="card-body bg-light" *ngIf="memberships.length === 0">

          <!-- Shown when user is on his profile, and has no incoming invites -->
          <ng-container *ngIf="isMyProfile$ | async">
            <p class="text-muted align-center">No incoming invites!</p>
            <small class="text-muted">
              Whenever a group invites you to join them, their invitation will appear here.
            </small>
          </ng-container>

          <!-- Shown when user is not on his profile, and that user has no incoming invites -->
          <ng-container *ngIf="!(isMyProfile$ | async)">
            <p class="text-muted align-center"><b>{{user.username}}</b> has no incoming invites!</p>
            <small class="text-muted">
              <b>{{user.username}}</b>'s group membership invitationns will appear here
            </small>
          </ng-container>

        </div>

        <!-- List of incoming invites -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let membership of memberships">
            <app-group-link [groupOrMembership]="membership"></app-group-link>
            <div class="float-right" *ngIf="isMyProfile$ | async">
              <app-accept-invitation (accepted)="refresh()" [membership]="membership"></app-accept-invitation>
              <app-kick-or-leave-group-button
                [membership]="membership"
                (left)="refresh()">
              </app-kick-or-leave-group-button>
            </div>
            <div>
              <small class="text-muted">joined {{membership.createdAtDistance}}</small>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <!-- End Incoming Invites -->

  <!-- Outgoing invites -->
  <div class="row my-4" *ngIf="outgoingMembership$ | async; let memberships">
    <div class="col">
      <div class="card">

        <h5 class="card-header">
          Outgoing
          <app-arrow-right></app-arrow-right>
        </h5>

        <div class="card-body bg-light" *ngIf="memberships.length === 0">

          <ng-container *ngIf="isMyProfile$ | async">
            <p class="text-muted align-center">You have no outgoing invites!</p>
            <small class="text-muted">
              Your group membership requests will appear here whenever you will ask a group to join them.
            </small>
          </ng-container>

          <ng-container *ngIf="!(isMyProfile$ | async)">
            <p class="text-muted align-center"><b>{{user.username}}</b> has no outgoing invites!</p>
            <small class="text-muted">
              <b>{{user.username}}</b>'s group membership requests will appear here
            </small>
          </ng-container>


        </div>


        <!-- List of outgoing invites -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let membership of memberships">
            <app-group-link [groupOrMembership]="membership"></app-group-link>
            <div class="float-right" *ngIf="isMyProfile$ | async">
              <app-kick-or-leave-group-button
                [membership]="membership"
                (left)="refresh()">
              </app-kick-or-leave-group-button>
            </div>
            <div>
              <small class="text-muted">joined {{membership.createdAtDistance}}</small>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <!-- End Outgoing invites -->

</div>
