<div class="blocks-container">
  <div *ngIf="message.text && (!message.blocks || message.blocks.length === 0)">{{message.text}}</div>
  <div class="blocks" *ngIf="message.blocks">
    <app-block *ngFor="let block of message.blocks; trackBy: trackBlock" [block]="block"></app-block>
  </div>
  <div class="attachments" *ngIf="message.attachments">
    <div *ngFor="let attachment of message.attachments" class="attachment">
      <app-attachment [attachment]="attachment"></app-attachment>
    </div>
  </div>
  <div *ngIf="message.visibleToUser">
    <small class="text-muted">only you can see this</small>
  </div>
</div>
