<div id="search-row">
  <label for="searchBox">Search</label>
  <input id="searchBox" [ngModel]="query$ | async" (ngModelChange)="querySubject.next($event)" type="text"/>

  <label for="searchBox">Type</label>
  <select
    name="resourceType"
    id="resourceType"
    [ngModel]="resourceType$ | async"
    (ngModelChange)="resourceTypeSubject.next($event)">
    <option [ngValue]="undefined">All posts</option>
    <option [ngValue]="0">Offer</option>
    <option [ngValue]="1">Request</option>
  </select>
</div>

<div id="resource-list">
  <div *ngIf="resources$ | async as resources">
    <div *ngIf="!(pending$ | async); else pending">
      <h4>
        <ng-container *ngIf="(resourceType$ | async) == 0">
          Offers
        </ng-container>
        <ng-container *ngIf="(resourceType$ | async) == 1">
          Requests
        </ng-container>
        <ng-container *ngIf="(resourceType$ | async) == undefined">
          All Posts
        </ng-container>
      </h4>

      <div class="resource-shadow">
        <div class="resource" *ngFor="let resource of resources">
          <div class="resource-title">

            <h2
              class="mb-0"
              style="display:inline-block"
            >
              <b>
                <app-resource-link2 [id]="resource.id"></app-resource-link2>
              </b>
            </h2>

            <small> / value {{resource.valueInHoursFrom}}h-{{resource.valueInHoursTo}}h</small>

          </div>
          <div>
            ---
          </div>
          <div>
            {{resource.description}}
          </div>
          <div>
            ---
          </div>
          <div>
            <span *ngIf="resource.type === 0">offer </span> by <b><a
            [routerLink]="'/users/' + resource.createdById">{{resource.createdBy}}</a></b>
            / {{resource.createdAtDistanceAgo}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #pending>
    <div id="pendingIndicator">
      ...
    </div>
  </ng-template>
</div>

