<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron mt-3">
        <h1 class="display-4">Search</h1>


        <div class="row row-cols-lg-auto g-3 align-items-center">

          <div class="col-12">
            <label for="searchBox">Search</label>
            <div class="input-group">
              <input id="searchBox" [ngModel]="query$ | async" (ngModelChange)="querySubject.next($event)" type="text"/>
            </div>
          </div>

          <div class="col-12">
            <label for="resourceType">Type</label>
            <div class="input-group">
              <select
                class="form-select"
                name="resourceType"
                id="resourceType"
                [ngModel]="resourceType$ | async"
                (ngModelChange)="resourceTypeSubject.next($event)">
                <option [ngValue]="undefined">All posts</option>
                <option [ngValue]="'offer'">Offer</option>
                <option [ngValue]="'request'">Request</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div id="resource-list">
  <div *ngIf="resources$ | async as resources">
    <div *ngIf="!(pending$ | async); else pending">
      <h4>
        <ng-container *ngIf="(resourceType$ | async) == 'offer'">
          Offers
        </ng-container>
        <ng-container *ngIf="(resourceType$ | async) == 'request'">
          Requests
        </ng-container>
        <ng-container *ngIf="(resourceType$ | async) == undefined">
          All Posts
        </ng-container>
      </h4>

      <div class="list-group">
        <div class="list-group-item bg-light" *ngIf="resources.length === 0">
          <div class="my-5">
            No resources found
          </div>
        </div>
        <div class="list-group-item" *ngFor="let resource of resources">
          <div>

            <h6 class="mb-1 d-inline-block">
              <b>
                <a
                  [routerLink]="'/resources/' + resource.resourceId"
                  [ngClass]="{'text-danger': resource.info.callType == 'request'}">
                  {{resource.info.name}}
                </a>
              </b>
            </h6>
            <small>
              (<app-duration [duration]="resource.info.value.timeValueFrom"></app-duration>
              -
              <app-duration [duration]="resource.info.value.timeValueTo"></app-duration>)
            </small>

          </div>

          <p>
            {{resource.info.description}}
          </p>

          <small>
            <span *ngIf="resource.info.callType === 'offer'">offer </span>
            <span *ngIf="resource.info.callType === 'request'">request </span>
            by <b><a
            [routerLink]="'/users/' + resource.createdBy">{{resource.createdByName}}</a></b>
            / {{resource.createdAtDistanceAgo}}
          </small>

        </div>
      </div>
    </div>

    <ng-template #pending>
      <div id="pendingIndicator">
        ...
      </div>
    </ng-template>
  </div>

