<ng-container *ngIf="members$ | async; let members">
  <div class="container-fluid mt-5">

    <!-- members section -->
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            Members
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let member of members.memberships">

              <!-- Link to user profile -->
              <span>
                <a [routerLink]="'/users/' + member.userId">{{member.userName}}</a>
              </span>

              <!-- User role -->
              <span>&nbsp;</span>
              <span>
                <span *ngIf="member.isOwner">(owner)</span>
                <span *ngIf="!member.isOwner && member.isAdmin">(admin)</span>
                <span *ngIf="!member.isOwner && !member.isAdmin && member.isMember">(member)</span>
              </span>

              <!-- User membership actions -->
              <div class="float-right">
                <app-kick-or-leave-group-button
                  [membership]="member"
                  (left)="refreshSubject.next(true)">
                </app-kick-or-leave-group-button>
              </div>

              <!-- User membership joined date -->
              <div>
                <small class="text-muted">
                  joined {{member.createdAtDistance}}
                </small>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end members section -->

    <!-- invite user section  -->
    <ng-container *ngIf="myMembership$ | async; let myMembership">
      <ng-container *ngIf="myMembership.isAdmin">
        <div class="row mt-5 justify-content-center">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card shadow border-primary">
              <h5 class="card-header">
                Invite people to join this group
              </h5>
              <div class="card-body">
                <div>
                  <app-user-picker [fetchUsers]="fetchUsers" [(ngModel)]="inviteUserId"></app-user-picker>
                </div>
                <button class="btn btn-success mt-3" (click)="inviteUser()">Send Invite</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!-- end invite user section  -->

  </div>
</ng-container>
