<ng-container *ngIf="members$ | async; let members">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            Members
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let member of members.memberships">
              <span>
                <a [routerLink]="'/users/' + member.userId">{{member.userName}}</a>
              </span>
              <span>&nbsp;</span>
              <span>
                <span *ngIf="member.isOwner">(owner)</span>
                <span *ngIf="!member.isOwner && member.isAdmin">(admin)</span>
                <span *ngIf="!member.isOwner && !member.isAdmin && member.isMember">(member)</span>
                <span *ngIf="!member.groupConfirmed || !member.userConfirmed">(pending)</span>
              </span>
              <small class="float-right text-muted">joined {{member.createdAtDistance}}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card shadow border-primary">
          <h5 class="card-header">
            Invite people to join this group
          </h5>
          <div class="card-body">
            <div>
              <div class="d-inline-block">
                <app-user-picker [fetchUsers]="fetchUsers" [(ngModel)]="inviteUserId"></app-user-picker>
              </div>
            </div>
            <button class="btn btn-success mt-3" (click)="inviteUser()">Send Invite</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>
