<div>
  <span>
    <a [routerLink]="'/groups/' + membership.groupId">{{membership.groupName}}</a>
  </span>

  <div>
    <small class="text-muted">received the invite to join them {{membership.createdAtDistance}}</small>
  </div>

  <div class="mt-2" *ngIf="isProfileOwner">
    <button class="btn btn-success mr-1 btn-sm shadow-sm" [disabled]="pending" (click)="accept()">
      <app-check></app-check>
      Accept
    </button>
    <button class="btn btn-outline-danger mr-2 btn-sm  shadow-sm" [disabled]="pending" (click)="decline()">
      <app-cross></app-cross>
      Decline
    </button>
  </div>
</div>
