<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <h1>New transaction proposal</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="form-group" [formGroup]="form">
            <label>Select in which group:</label>
            <app-membership-picker formControlName="groupId"></app-membership-picker>
          </div>
          <button *ngIf="!groupSelected" class="btn btn-primary" (click)="markGroupSelected()">Select group</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="form.getItems().length > 0 && groupSelected">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Items in that proposal:
        </div>
        <div class="list-group list-group-flush">

          <div class="d-flex flex-row list-group-item" *ngFor="let item of form.getItems(); let i = index">
            <div class="flex-grow-1 align-self-center">
              <div>
                <ng-container *ngIf="item.toControl.value; let to">
                  <ng-container *ngIf="to.type === 'group'">
                    <app-group #grp [id]="to.groupId">
                      group <b>{{grp.group?.name}}</b>
                    </app-group>
                  </ng-container>
                  <ng-container *ngIf="to.type === 'user'">
                    user <app-user-link [id]="to.userId"></app-user-link>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="item.typeControl.value === 'borrow_resource'">
                  would borrow
                  <app-resource-link2 [id]="item.resourceIdControl.value"></app-resource-link2>
                  for {{item.durationControl.value}}
                </ng-container>

                <ng-container *ngIf="item.typeControl.value === 'provide_service'">
                  would get {{item.durationControl.value}} worth of
                  <app-resource-link2 [id]="item.resourceIdControl.value"></app-resource-link2>
                </ng-container>

                <ng-container *ngIf="item.typeControl.value === 'transfer_resource'">
                  would get
                  <app-resource-link2 [id]="item.resourceIdControl.value"></app-resource-link2>
                </ng-container>

                <ng-container *ngIf="item.typeControl.value === 'transfer_credits'">
                  would get
                  {{item.amountControl.value}}
                  of timebank credits from
                  <ng-container *ngIf="item.fromControl.value; let from">
                    <ng-container *ngIf="from.type === 'group'">
                      <app-group #grp [id]="from.groupId">
                        group <b>{{grp.group?.name}}</b>
                      </app-group>
                    </ng-container>
                    <ng-container *ngIf="from.type === 'user'">
                      user <app-user-link [id]="from.userId"></app-user-link>
                    </ng-container>
                  </ng-container>


                </ng-container>
              </div>
            </div>
            <div>
              <button class="btn btn-outline-secondary btn-sm" (click)="remove(i)">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="!itemFormToggled  && groupSelected">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <button class="btn btn-primary btn-block" (click)="itemFormToggled=!itemFormToggled">Add item</button>
          <button class="btn btn-block btn-success" (click)="submit()">Submit proposal</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="itemFormToggled  && groupSelected">
    <div class="col">
      <div class="card">
        <div class="card-body">


          <ng-container [formGroup]="itemForm">

            <div class="form-group">
              <label>What kind of transaction?</label>
              <select class="form-select" formControlName="type">
                <option ngValue="borrow_resource">Borrow something</option>
                <option ngValue="provide_service">Provide a service</option>
                <option ngValue="transfer_resource">Take something</option>
                <option ngValue="transfer_credits">Receive timebank credits</option>
              </select>
            </div>


            <ng-container *ngIf="itemForm">

              <ng-container *ngIf="itemForm.typeControl.value; let type">

                <ng-container
                  *ngIf="type === 'borrow_resource' || type === 'provide_service' || type ==='transfer_resource'">
                  <ng-container *ngIf="type === 'provide_service'">
                    Which service?
                  </ng-container>
                  <ng-container *ngIf="type === 'borrow_resource'">
                    Borrow what?
                  </ng-container>
                  <ng-container *ngIf="type === 'transfer_resource'">
                    Take what?
                  </ng-container>
                  <app-resource-picker formControlName="resourceId"
                                       [subType]="type === 'provide_service' ? 'service' : 'object'"
                                       [sharedWithGroup]="form.groupId.value"></app-resource-picker>
                </ng-container>

                <div class="form-group mt-4" *ngIf="itemForm.resourceIdControl.value || type === 'transfer_credits'">
                  <ng-container *ngIf="type === 'borrow_resource'">
                    Who would borrow?
                  </ng-container>
                  <ng-container *ngIf="type === 'provide_service'">
                    Who would get the service?
                  </ng-container>
                  <ng-container *ngIf="type === 'transfer_credits'">
                    Who would receive the credits?
                  </ng-container>
                  <ng-container *ngIf="type === 'transfer_resource'">
                    Who would receive the item?
                  </ng-container>
                  <app-group-or-user-picker
                    formControlName="to"
                    [groupId]="form.value.groupId"
                    [offerItemType]="itemForm.typeControl.value"
                  ></app-group-or-user-picker>
                </div>

                <div class="form-group mt-4" *ngIf="type === 'transfer_credits' && itemForm.toControl.value">
                  <label>From whom?</label>
                  <app-group-or-user-picker
                    formControlName="from"
                    [groupId]="form.value.groupId"
                    [offerItemType]="itemForm.typeControl.value"
                    [to]="itemForm.toControl.value"
                  ></app-group-or-user-picker>
                </div>

                <ng-container *ngIf="type==='transfer_credits' && itemForm.fromControl.value">
                  <div class="form-group mt-2">
                    <label for="commonpool-resource-amount">What amount?</label>
                    <input id="commonpool-resource-amount" type="text" class="form-control" formControlName="amount"/>
                  </div>
                </ng-container>

                <ng-container
                  *ngIf="(type==='borrow_resource' || type==='provide_service') && itemForm.toControl.value">
                  <div class="form-group mt-2">
                    <label for="commonpool-resource-duration">For how long?</label>
                    <input id="commonpool-resource-duration" type="text" class="form-control"
                           formControlName="duration"/>
                  </div>
                </ng-container>

                <div class="mt-4" *ngIf="type === 'borrow_resource' && itemForm.durationControl.value !== null">
                  <button class="btn btn-primary" (click)="add()">Add proposal item</button>
                </div>

                <div class="mt-4" *ngIf="type === 'provide_service' && itemForm.durationControl.value !== null">
                  <button class="btn btn-primary" (click)="add()">Add proposal item</button>
                </div>

                <div class="mt-4" *ngIf="type === 'transfer_resource' && itemForm.toControl.value !== null">
                  <button class="btn btn-primary" (click)="add()">Add proposal item</button>
                </div>

                <div class="mt-4" *ngIf="type === 'transfer_credits' && itemForm.amountControl.value !== null">
                  <button class="btn btn-primary" (click)="add()">Add proposal item</button>
                </div>

              </ng-container>
            </ng-container>

          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <pre>{{itemForm.value | json}}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <pre>{{form.value | json}}</pre>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <pre>{{form.getErrors() | json}}</pre>
    </div>
  </div>

</div>
