<ng-container *ngIf="user$ | async; let user">
  <ul class="nav nav-tabs pt-3">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/users/' + user.id" >
        <app-person></app-person>&nbsp;<b>{{user.username}}</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/users/'+user.id+'/posts'">posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/users/'+user.id+'/groups'">groups</a>
    </li>
  </ul>


  <router-outlet></router-outlet>

</ng-container>
