<ng-container *ngIf="group$ | async; let group">

  <ul class="nav nav-tabs pt-3">
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="'/groups/' + group.groupId">
        <app-box-seam></app-box-seam>&nbsp;<b>{{group.name}}</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/groups/'+group.groupId+'/posts'">
        <app-asterix></app-asterix>
        posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/groups/'+group.groupId+'/members'">
        <app-people></app-people>
        members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/groups/'+group.groupId+'/invitations'">
        <app-mailbox></app-mailbox>
        invitations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/groups/'+group.groupId+'/history'">
        History</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

</ng-container>
