<ng-container *ngIf="group$ | async; let group">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="group-header">
          <h4 class="my-3">
            <a [routerLink]="'/groups/' + group.id">
              <app-box-seam></app-box-seam>&nbsp;<b>{{group.name}}</b></a>
          </h4>
          <ul class="menu">
            <li routerLinkActive="active">
              <a routerLink="members">
                <app-people></app-people>
                {{group.name}}'s Members
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="resources">
                <app-asterix></app-asterix>
                {{group.name}}'s Resources
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="invitations">
                <app-mailbox></app-mailbox>
                {{group.name}}'s Invites
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="group-border">
  </div>

  <router-outlet></router-outlet>

</ng-container>
