<div class="container-fluid mt-3" *ngIf="resource$ | async; let resource">
  <div class="row mt-2">
    <div class="col">
      <div class="card bg-light">
        <div class="card-body" id="resource-details">
          <table class="table table-borderless w-auto">
            <tbody>
            <tr>
              <td>
                Name
              </td>
              <td>
                {{resource.info.name}}
              </td>
            </tr>
            <tr>
              <td>
                Type
              </td>
              <td>
                {{resource.info.resourceType}} {{resource.info.callType}}
              </td>
            </tr>
            <tr>
              <td>
                Created
              </td>
              <td>
                By
                <a [routerLink]="'/users/' + resource.createdBy">{{resource.createdByName}}</a>
                {{resource.createdAtDistanceAgo}}
              </td>
            </tr>
            <tr>
              <td>
                Shared with
              </td>
              <td>
                <span class="text-muted" *ngIf="resource.groupSharingCount ===0">
                  Not shared with any group
                </span>
                <div *ngIf="resource.groupSharingCount > 0">
                  <div *ngFor="let s of resource.sharings">
                    {{s.groupName}}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Description</td>
              <td>
                <p>{{resource.info.description}}</p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-6 col-lg-3">
              <h5>Average evaluation</h5>
              <hr>
              <app-values [disabled]="true" [ngModel]="resource.averageValues"></app-values>
            </div>
            <div class="col-6 col-lg-3">
              <h5>My evaluation</h5>
              <hr>
              <app-values [disabled]="true" [ngModel]="resource.values"></app-values>
            </div>

          </div>
          <div class="m-2 mt-4" *ngIf="auth.session$ | async; let session">

            <ng-container *ngIf="session.id === resource.createdBy">
              <button class="btn btn-sm btn-primary me-2" (click)="editResource(resource.resourceId)">Edit</button>
              <button class="btn btn-sm btn-danger me-2">Delete</button>
            </ng-container>

            <button class="me-2 btn btn-sm btn-secondary" (click)="evaluateResource(resource.resourceId)">Evaluate</button>

<!--            <button *ngIf="session.id !== resource.createdBy" class="me-2 btn btn-sm btn-secondary"-->
<!--                    [routerLink]="'/resources/' + resource.resourceId + '/inquire'">Contact-->
<!--            </button>-->
<!--            <button *ngIf="session.id !== resource.createdBy" class="me-2 btn btn-sm btn-secondary"-->
<!--                    [routerLink]="'/resources/' + resource.resourceId + '/inquire'">Make Offer-->
<!--            </button>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
