<div class="container mt-4" *ngIf="userId$ | async; let userId">
  <div class="row" *ngIf="offers$ | async; let offers">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Pending Offers:
        </div>
        <ng-container>
          <ul class="list-group list-group-flush">
            <li *ngFor="let offer of offers.pending" class="list-group-item">
              <app-offer-list-item [offer]="offer" (approve)="accept(offer.id)" (decline)="decline(offer.id)"></app-offer-list-item>
            </li>
            <li class="list-group-item" *ngIf="offers.pending.length === 0">
              <small>No pending offers</small>
            </li>
          </ul>
        </ng-container>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          Active Offers:
        </div>
        <ng-container>
          <ul class="list-group list-group-flush">
            <li *ngFor="let offer of offers.accepted" class="list-group-item">
              <app-offer-list-item [offer]="offer"></app-offer-list-item>

            </li>
            <li class="list-group-item" *ngIf="offers.accepted.length === 0">
              <small>No active offers</small>
            </li>
          </ul>
        </ng-container>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          Previous Offers:
        </div>
        <ng-container>
          <ul class="list-group list-group-flush">
            <li *ngFor="let offer of offers.completed" class="list-group-item">
              <app-offer-list-item [offer]="offer"></app-offer-list-item>
            </li>
            <li class="list-group-item" *ngIf="offers.completed.length === 0">
              <small>No previous offers</small>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</div>
