<div class="container mt-4" *ngIf="userId$ | async; let userId">
  <div class="row" *ngIf="offers$ | async; let offers">
    <div class="col">

      <nav class="navbar navbar-light bg-light shadow-sm mb-4">
        <div class="container-fluid">
          <a class="navbar-brand">Pending Offers</a>
        </div>
      </nav>

      <div *ngFor="let offer of offers.pending" class="mb-3">
        <app-offer-list-item [offer]="offer" (approve)="accept(offer.id)"
                             (decline)="decline(offer.id)"></app-offer-list-item>
      </div>

      <p *ngIf="offers.pending.length === 0">
        <small>No pending offers</small>
      </p>


      <nav class="navbar navbar-light bg-light shadow-sm mb-4">
        <div class="container-fluid">
          <a class="navbar-brand">Active Offers</a>
        </div>
      </nav>

      <div *ngFor="let offer of offers.accepted" class="mb-3">
        <app-offer-list-item [offer]="offer" (approve)="accept(offer.id)"
                             (decline)="decline(offer.id)"></app-offer-list-item>
      </div>

      <p *ngIf="offers.accepted.length === 0">
        <small>No approved offers</small>
      </p>


      <nav class="navbar navbar-light bg-light shadow-sm mb-4">
        <div class="container-fluid">
          <a class="navbar-brand">Completed Offers</a>
        </div>
      </nav>

      <div *ngFor="let offer of offers.completed" class="mb-3">
        <app-offer-list-item [offer]="offer" (approve)="accept(offer.id)"
                             (decline)="decline(offer.id)"></app-offer-list-item>
      </div>

      <p *ngIf="offers.completed.length === 0">
        <small>No approved offers</small>
      </p>


    </div>
  </div>
</div>
