.shadow-inset {
  box-shadow: inset .125rem .125rem 0.125rem rgba(0, 0, 0, .5) !important;
}

.declined {
  background: rgba(0, 0, 0, .03)
}
.accepted {
  background: #28a74522
}

.declined *, .accepted * {
  opacity: 0.8;
}
