<ng-container>
  <div class="container-fluid mt-5" *ngIf="incomingInvitations$ | async; let incomingInvitations">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            Incoming
            <app-arrow-left></app-arrow-left>
          </h5>
          <div class="card-body" *ngIf="incomingInvitations.length === 0">
            No incoming invitations!
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let invitation of incomingInvitations">
              <span>
                <a [routerLink]="'/groups/' + invitation.groupId">{{invitation.userName}}</a>
              </span>
              <div>
                <small class="text-muted">received the invite to join them {{invitation.createdAtDistance}}</small>
              </div>
              <div class="mt-2" *ngIf="iAmAdmin$ | async">
                <button class="btn btn-success mr-1 btn-sm shadow-sm">
                  <app-check></app-check>
                  Accept
                </button>
                <button class="btn btn-outline-danger mr-2 btn-sm  shadow-sm">
                  <app-cross></app-cross>
                  Decline
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngIf="outgoingInvitations$ | async; let outgoingInvitations">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            Outgoing
            <app-arrow-right></app-arrow-right>
          </h5>
          <div class="card-body" *ngIf="outgoingInvitations.length === 0">
            No outgoing invitations!
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let invitation of outgoingInvitations">
              <span>
                <a [routerLink]="'/groups/' + invitation.groupId">{{invitation.userName}}</a>
              </span>


              <div>
                <small class="text-muted">sent the request {{invitation.createdAtDistance}}</small>
              </div>

              <div class="mt-2">
                <app-kick-or-leave-group-button
                  [membership]="invitation"
                  (left)="refreshSubject.next(true)"
                ></app-kick-or-leave-group-button>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</ng-container>
