/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  font-family: Monaco, "Lucida Console", monospace;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
