<div id="top-nav">
  <ul>
    <li><a [routerLink]="'/'">search</a></li>
    <li><a [routerLink]="'/resources/new'">post</a></li>
    <li><a [routerLink]="'/offers/new'">new offer</a></li>
    <li class="flex-grow-1"></li>
    <ng-container *ngIf="auth.session$ | async; let session">
      <li><a *ngIf="session.isAuthenticated" [routerLink]="'/messages'"><app-envelope></app-envelope> messages</a></li>
      <li><a *ngIf="session.isAuthenticated" [routerLink]="'/users/' + session.id">▼ {{session.username}}</a></li>
    </ng-container>
  </ul>
</div>
