<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">Commonpool</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="auth.session$ | async; let session">
          <ng-container *ngIf="session.isAuthenticated">

            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/resources/search'">search</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/resources/new'">post</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/offers/new'">new proposal</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/trading-history'">history</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                {{session.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" [routerLink]="'/users/' + session.id">profile</a></li>
                <li><a class="dropdown-item" [routerLink]="'/messages'">
                  <app-envelope></app-envelope>
                  messages</a></li>
                <li><a class="dropdown-item" href="#" (click)="backend.logout()">logout</a></li>
              </ul>
            </li>

          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
