<ng-container *ngIf="offerSubject$ | async; let offer">
  <ng-container *ngIf="offerItemActions$ | async; let offerItemActions">
    <div class="card shadow-sm ">
      <div class="card-body">
        <div>
          <!--
          <div>
            <span>Status: </span>
            <span class="badge badge-pill badge-primary shadow-sm mr-2" *ngIf="offer.status === 'pending'">Pending</span>
            <span class="badge badge-pill badge-success shadow-sm mr-2" *ngIf="offer.status ==='approved'">Accepted</span>
            <span class="badge badge-pill badge-danger shadow-sm mr-2" *ngIf="offer.status === 'declined'">Declined</span>
            <span class="badge badge-pill badge-light shadow-sm mr-2" *ngIf="offer.status === 'completed'">Completed</span>
          </div>
        -->

          <div class="mt-1 list-group d-flex">
            <div *ngFor="let item of offer.items" class="list-group-item bg-white">
              <div class="d-flex">
                <div>
                  <div style="height: 60px; width: 60px; margin: 0 1rem 0 -0.25rem; background: lightgray"></div>
                </div>
                <div style="align-self: center">
                  <ng-container *ngIf="item.type === 'transfer_credits'">
                    <b>{{item.from.name}}</b> would <u>transfer</u>&nbsp;<b>{{item.amount / 3600000000000}}</b>
                    hour credits to
                    <b>{{item.to.name}}</b>
                  </ng-container>
                  <ng-container *ngIf="item.type === 'borrow_resource'">
                    <b>{{item.to.name}}</b> would <u>borrow</u>&nbsp;<b>{{item.resource.resourceName}}</b> for
                    <b><app-duration [duration]="item.duration"></app-duration></b>.
                  </ng-container>
                  <ng-container *ngIf="item.type === 'transfer_resource'">
                    <b>{{item.to.name}}</b> would <u>take</u> <b>{{item.resource.resourceName}}</b>
                  </ng-container>
                  <ng-container *ngIf="item.type === 'provide_service'">
                    <b>{{item.to.name}}</b> would <u>receive</u> <b>{{item.duration / 3600000000000}}</b> of
                    <b>{{item.resource.resourceName}}</b>
                  </ng-container>
                </div>
                <div class="flex-grow-1"></div>
                <div style="align-self: center">
                  <div *ngFor="let action of offerItemActions[item.offerItemId]" class="mr-2 mb-1">
                    <app-offer-action [action]="action"></app-offer-action>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3 text-right">
            <span *ngFor="let action of offerActions$ | async" class="mr-1">
              <app-offer-action [action]="action"></app-offer-action>
            </span>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
